---

const PROJECTS = [
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Universidad Columbia",
    description:
      "Universidad Columbia proporciona información detallada sobre sus carreras, servicios estudiantiles, y actividades institucionales. Además, permite acceder a servicios en línea como inscripciones y consultas.",
    link: "https://columbia.edu.py/",
    imageOne: "../images/columbia-1.webp",
    imageTwo: "../images/columbia-1-mobile.webp",
  },
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Mecal Muebles",
    description:
      "Mecal Muebles es una ecommerce que ofrece muebles de diseño moderno y funcional para diferentes espacios. El sitio destaca por su navegación intuitiva y diseño visual limpio.",
    link: "https://www.mecalmuebles.com.py/",
    imageOne: "/images/mecal-1.webp",
    imageTwo: "/images/mecal-1-mobile.webp",
  },
  {
    empresa: "Proyecto Freelance - 2023",
    title: "Puro Sol",
    description:
      "El objetivo fue diseñar una interfaz divertida y atractiva, integrando juegos y premios. La web cumplía múltiples funciones, como el registro de cupones incluidos en los envases de jugos. Incorporaba un sistema de login/registro, perfil de usuario.",
    link: "https://www.figma.com/design/HDGxgM3yjZVUusxsz7x9fX/Trabajos-Terminados?node-id=0-1&t=ax2VrWXfIskh1ijI-1",
    imageOne: "../images/puro-sol-1.webp",
    imageTwo: "../images/puro-sol-1-mobile.webp",
  },
  {
    empresa: "Agencia Web Porta - 2021",
    title: "Puma Paraguay",
    description:
      "Rediseño del catálogo web de PUMA Paraguay siguiendo la línea visual de las webs internacionales de la marca, manteniendo la coherencia con los estándares globales de PUMA y adaptando el diseño a las necesidades locales. ",
    link: "https://www.pumastore.com.py/",
    imageOne: "/images/puma-1.webp",
    imageTwo: "/images/puma-1-mobile.webp",
  },
]
---

<section class="seccion-trabajos" id="proyectos">
  <div class="wrapper-trabajos">
    <h2 class="title-trabajos">Proyectos</h2>
    <p class="subtitle-trabajos">Esta es una selección de algunos trabajos que he hecho durante los últimos años. Si quieres verlos con más detalle, <a href="mailto:silfridobenitez65@gmail.com" target="_blank">escribíme</a>.</p>
    
    <div class="grid-trabajos">
      {
        PROJECTS.map(({ imageOne, imageTwo, empresa, title, description, link }) => ( 
          <a href={link} target="_blank" class="card-trabajo">
            <div class="item-card-trabajo">
              <p class="date-card-trabajos">{empresa}</p>
              <h3 class="title-card-trabajos">{title}</h3>
              <p class="text-card-trabajos">{description}</p>
              <p class="link-card-experiencia">Ver proyecto</p>
                
            </div>
            <div class="item-card-trabajo">
              <picture>
                <source srcset={imageTwo} media="(max-width: 500px)" />
                <img src={imageOne} alt={title} loading="lazy" width="640" height="480" class="img-trabajos"/>
              </picture>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>

<div class="cursor"></div>
<div class="cursor-follower">
  <p>Ver proyecto</p>
</div>

<style>
  .seccion-trabajos{
    background: #3F4273;
    border-radius: var(--border-radius);
    scroll-margin-top: 4rem;
  }
  .wrapper-trabajos{
    max-width: 1500px;
		width: 90%;
    padding: 6rem 1.5rem;
		margin: 0 auto;
    position: relative;
  }
  .wrapper-trabajos::after{
    content: '';
    position: absolute;
    top: 4rem;
    right: -1rem;
    width: 100px;
    height: 100px;
    background: url(../../public/images/formas-right-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .8;
  }
  .title-trabajos{
    font-size: var(--font-seccion);
    font-weight: 600;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 1.25rem;
  }
  .subtitle-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
    width: 50%;
    text-wrap: pretty;
    margin-bottom: 3rem;
  }
  .subtitle-trabajos a{
    color: var(--principal);
  }
  /* Card */
  .grid-trabajos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: 2rem;
  }
  .card-trabajo{
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--fondo);
    text-decoration: none;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  .date-card-trabajos{
    font-size: .875rem;
    color: var(--principal);
    margin-bottom: 1rem;
  }
  .title-card-trabajos {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: var(--principal);
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 3rem;
  }
  .text-card-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
    text-wrap: pretty;
  }
  .item-card-trabajo:nth-child(2){
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: auto;
  }
  .img-trabajos{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--border-radius);
    transition: all 4s;
  }
  .card-trabajo:hover .img-trabajos{
    transform: scale(1.1);
    transition: all 4s;
  }

  .link-card-experiencia{
    font-size: 14px;
    color: var(--principal);
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin-top: 0;
    margin-bottom: .5rem;
    display: none;
    width: fit-content;
    position: relative;
  }
  .link-card-experiencia:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: var(--principal);
    transition: transform .01s linear;
    transform-origin: 0 50%;
    transform: scaleX(0);
  }
  .link-card-experiencia:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    bottom: 0;
    background: var(--principal);
    transform: scaleX(1);
    transition: transform .01s linear;
    transform-origin: 100% 50%;
  }
  .card-trabajo:hover .link-card-experiencia:before {
    background-color: var(--principal);
    transform: scaleX(1);
    transition: transform .5s cubic-bezier(.19,1,.22,1) .5s;
  }
  .card-trabajo:hover .link-card-experiencia:after {
    background-color: var(--black);
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.19,1,.22,1);
  }

  .cursor-follower {
    position: fixed;
    border-radius: 30px;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(2px, 2px);
    background: var(--principal);
    padding: .75rem 1.5rem;
    opacity: 0;
  }
  .cursor-follower p {
    font-size: 14px;
    letter-spacing: 0.02rem;
    color: var(--black);
    text-wrap: nowrap;
    margin-bottom: 0;
  }
  .cursor-follower.active {
    opacity: 1;
  }

  @media screen and (max-width:1100px) {
    .wrapper-trabajos{
		  width: 90%;
    }
  }
  @media screen and (max-width:768px) {
    .wrapper-trabajos{
      max-width: 100%;
      width: 100%;
      padding-top: 4rem;
      padding-bottom: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .subtitle-trabajos{
      width: 100%;
    }
    .card-trabajo{
      padding: 1rem;
      flex-direction: column-reverse;
      gap: 2rem;
    }
    .title-card-trabajos{
      font-size: 1.25rem;
      line-height: 1.3;
      margin-bottom: 1rem;
    }
    .text-card-trabajos{
      width: 100%;
      display: none;
    }
    .wrapper-trabajos::after{
      width: 60px;
      height: 60px;
      right: 0;
    }
    .link-card-experiencia{
      display: block;
    }
  }
</style>
