---

const PROJECTS = [
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Universidad Columbia",
    description:
      "Universidad Columbia proporciona información detallada sobre sus carreras, servicios estudiantiles, y actividades institucionales. Además, permite acceder a servicios en línea como inscripciones y consultas.",
    link: "https://columbia.edu.py/",
    imageOne: "../images/columbia-1.jpg",
    imageTwo: "../images/columbia-1.jpg",
  },
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Mecal Muebles",
    description:
      "Mecal Muebles es una ecommerce que ofrece muebles de diseño moderno y funcional para diferentes espacios. El sitio destaca por su navegación intuitiva y diseño visual limpio.",
    link: "https://www.mecalmuebles.com.py/",
    imageOne: "/images/mecal-1.jpg",
    imageTwo: "/images/mecal-1.jpg",
  },
  {
    empresa: "Proyecto Freelance - 2023",
    title: "Puro Sol",
    description:
      "El objetivo fue diseñar una interfaz divertida y atractiva, integrando juegos y premios. La web cumplía múltiples funciones, como el registro de cupones incluidos en los envases de jugos. Incorporaba un sistema de login/registro, perfil de usuario.",
    link: "#",
    imageOne: "../images/puro-sol-1.jpg",
    imageTwo: "../images/puro-sol-1.jpg",
  },
  {
    empresa: "Agencia Web Porta - 2021",
    title: "Puma Paraguay",
    description:
      "Rediseño del catálogo web de PUMA Paraguay siguiendo la línea visual de las webs internacionales de la marca, manteniendo la coherencia con los estándares globales de PUMA y adaptando el diseño a las necesidades locales. ",
    link: "https://www.pumastore.com.py/",
    imageOne: "/images/puma-1.jpg",
    imageTwo: "/images/puma-1.jpg",
  },
]
---

<section class="seccion-trabajos">
  <div class="wrapper-trabajos">
    <h2 class="title-trabajos">Proyectos</h2>
    <p class="subtitle-trabajos">Esta es una selección de algunos trabajos que he hecho durante los últimos años. Si quieres verlos con más detalle, <a href="#">escribíme</a>.</p>
    
    <div class="grid-trabajos">
      {
        PROJECTS.map(({ imageOne, imageTwo, empresa, title, description, link }) => ( 
          <article class="card-trabajo">
            <div class="item-card-trabajo">
              <p class="date-card-trabajos">{empresa}</p>
              <h3 class="title-card-trabajos">{title}</h3>
              <p class="text-card-trabajos">{description}</p>
                
            </div>
            <div class="item-card-trabajo">
              <picture>
                <source srcset={imageTwo} media="(max-width: 768px)" />
                <img src={imageOne} alt={title} loading="lazy" class="img-trabajos"/>
              </picture>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>

<style>
  .seccion-trabajos{
    padding: 6rem 1.5rem;
    background: #3F4273;
    border-radius: var(--border-radius);
  }
  .wrapper-trabajos{
    max-width: 90%;
		width: 100%;
		margin: 0 auto;
    position: relative;
  }
  .wrapper-trabajos::after{
    content: '';
    position: absolute;
    top: -2rem;
    right: -1rem;
    width: 120px;
    height: 120px;
    background: url(../../public/images/formas-right-2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .8;
  }
  .title-trabajos{
    font-size: var(--font-seccion);
    font-weight: 600;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 1.25rem;
  }
  .subtitle-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
    width: 50%;
    text-wrap: pretty;
    margin-bottom: 3rem;
  }
  .subtitle-trabajos a{
    color: var(--principal);
  }
  /* Card */
  .grid-trabajos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(500px, 100%), 1fr));
    gap: 2rem;
  }
  .card-trabajo{
    width: 100%;
    height: auto;
    padding: 2rem;
    border-radius: var(--border-radius);
    background: var(--fondo);
    overflow: hidden;
  }
  .date-card-trabajos{
    font-size: .875rem;
    color: var(--principal);
    margin-bottom: 1rem;
  }
  .title-card-trabajos {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1;
    color: var(--principal);
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 3rem;
  }
  .text-card-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem;
    text-wrap: pretty;
  }
  .img-trabajos{
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: var(--border-radius);
  }

  @media screen and (max-width:768px) {
    .seccion-trabajos{
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .wrapper-trabajos{
      max-width: 100%;
    }
    .subtitle-trabajos{
      width: 100%;
    }
    .card-trabajo{
      padding: 2rem;
    }
    .title-card-trabajos{
      line-height: 1.3;
    }
    .text-card-trabajos{
      width: 100%;
    }
    .wrapper-trabajos::after{
      width: 80px;
      height: 80px;
      right: 0;
    }
  }
</style>
