---

const PROJECTS = [
  {
    empresa: "Agencia Web Porta - 2022",
    title: "La Química Farmacéutica",
    description:
      "Catálogo digital diseñado y desarrollado para resaltar las marcas representadas, los productos y las tiendas en donde se encuentran. El proyecto fue desarrollado con  Laravel y se uso Bootstrap para las grillas.",
    link: "https://www.lqf.com.py/",
    imageOne: "/images/lqf-desk.png",
    imageTwo: "/images/lqf-mobile.png",
  },
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Mecal Muebles",
    description:
      "Mecal Muebles es una tienda en línea que ofrece muebles de diseño moderno y funcional para diferentes espacios. El sitio destaca por su navegación intuitiva y diseño visual limpio, brindando una experiencia de usuario fluida y profesional.",
    link: "https://www.mecalmuebles.com.py/",
    imageOne: "/images/mecal.png",
    imageTwo: "/images/mecal.png",
  },
  {
    empresa: "Agencia Web Porta - 2023",
    title: "Universidad Columbia",
    description:
      "Universidad Columbia proporciona información detallada sobre sus carreras, servicios estudiantiles, y actividades institucionales, con un diseño intuitivo y fácil de navegar. Además, permite acceder a servicios en línea como inscripciones, consultas y recursos académicos.",
    link: "https://columbia.edu.py/",
    imageOne: "../images/columbia-desk.png",
    imageTwo: "../images/columbia-mobile.png",
  },
  {
    empresa: "Proyecto Freelance - 2023",
    title: "Puro Sol",
    description:
      "El objetivo fue diseñar una interfaz divertida y atractiva para niños, integrando juegos y premios. La web cumplía múltiples funciones, como el registro de cupones incluidos en los envases de jugos. Incorporaba un sistema de login/registro, perfil de usuario, una sección para ingresar códigos, y una vista de felicitaciones que mostraba los cupones acumulados.",
    link: "#",
    imageOne: "../images/puro-sol.png",
    imageTwo: "../images/puro-sol.png",
  },
]
---

<section class="seccion-trabajos">
  <h2 class="title-trabajos">Proyectos</h2>
  <p class="subtitle-trabajos">Esta es una selección de algunos trabajos que he hecho durante los últimos años. Si quieres verlos con más detalle, <a href="#">escribime</a>.</p>
  
  {
    PROJECTS.map(({ imageOne, imageTwo, empresa, title, description, link }) => ( 
      <article class="card-trabajo">
        <div class="item-card-trabajo">
          <p class="date-card-trabajos">{empresa}</p>
          <h3 class="title-card-trabajos">{title}</h3>
          <p class="text-card-trabajos">{description}</p>
            
          <a href={link} class="btn btn-primary" target="_blank">Ver proyecto</a>
        </div>
        <div class="item-card-trabajo">
          <picture>
            <source srcset={imageTwo} media="(max-width: 768px)" />
            <img src={imageOne} alt={title} loading="lazy" class="img-trabajos"/>
          </picture>
        </div>
      </article>
    ))
  }
</section>

<style>
  .seccion-trabajos{
    max-width: 90%;
		width: 100%;
		margin: 0 auto;
    padding: 6rem 1.5rem;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-right: 1px solid var(--border);
  }
  .title-trabajos{
    font-size: var(--font-hero);
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    line-height: 1;
    color: var(--principal);
    margin-bottom: 1.25rem;
  }
  .subtitle-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    margin-top: 0;
    width: 50%;
    text-wrap: pretty;
    margin-bottom: 2.5rem;
  }
  .subtitle-trabajos a{
    color: var(--principal);
  }
  /* Card */
  .card-trabajo{
    width: 100%;
    height: 490px;
    z-index: 999;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr .5fr;
    gap: 1rem;
    padding: 2rem;
    padding-right: 0;
    margin-bottom: 1.5rem; 
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    background: #1A1A18;
    overflow: hidden;
  }
  .card-trabajo:nth-child(even){
    padding-bottom: 0;
  }
  .item-card-trabajo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .date-card-trabajos{
    font-size: .875rem;
    color: var(--principal);
    margin-bottom: 1rem;
  }
  .title-card-trabajos {
    font-size: 2rem;
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    line-height: 1;
    color: var(--principal);
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 1.5rem;
  }
  .text-card-trabajos{
    font-size: 1rem;
    color: var(--principal);
    line-height: 24px;
    letter-spacing: 0.02rem;
    width: 80%;
    margin-top: 0;
    margin-bottom: 2rem;
    text-wrap: pretty;
  }
  .img-trabajos{
    display: block;
    width: 458px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  @media screen and (max-width:1100px) {
    .seccion-trabajos{
      max-width: calc(100% - 30px);
    }
    .card-trabajo{
      height: unset;
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    .item-card-trabajo{
      width: 100%;
    }
    .img-trabajos{
      width: 100%;
    }
  }
  @media screen and (max-width:768px) {
    .seccion-trabajos{
      max-width: calc(100% - 2px);
    }
    .subtitle-trabajos{
      width: 100%;
    }
    .card-trabajo{
      padding: 2rem 1rem;
    }
    .title-card-trabajos{
      line-height: 1.3;
    }
    .text-card-trabajos{
      width: 100%;
    }
  }
</style>
