---
// Supports weights 200-900

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';

import Header from "../components/layouts/Header.astro"
import Footer from "../components/layouts/Footer.astro"

interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="sr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="author" content="Silfrido Benítez">
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/png" href="/favicon/favicon-48x48.png" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon//apple-touch-icon.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		
		<meta name="generator" content={Astro.generator} />

		<meta property="og:url" content="" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/images/seo.jpg" />
	
		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/images/seo.jpg" />

		<link rel="canonical" href="https://silfrido-benitez.vercel.app/">

		<link rel="preconnect dns-prefetch" href="https://cdnjs.cloudflare.com" crossorigin>

		<title>{title}</title>
	</head>
	<body>
		<Header />
		
		<slot />
		
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--principal: #FEFFC5;
		--principal-hover: #4C4C3F;
		--white: #ffffff;
		--black: #0E0E0E;
		--secundario: #CBCC9E; 
		--border: #4C4C3F;
		--fondo: #5551B1;

		--font-principal: 'Poppins', serif;
		--font-hero: 3.5rem;
		--font-text: 1rem;
		--font-seccion: 2.5rem;
		--border-radius: 1rem;
	}
	*, *:after, *:before{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	} 
	html {
		font-family: 'Poppins', sans-serif;
		min-height: 100vh;
		background-color: #272648;
		font-size: 17px;
	}
	p{
		line-height: 1.3;
	}
	html.sr .load-hidden {
    visibility: hidden;
	}
	.container{
    max-width: calc(100% - 240px);
		width: 100%;
		margin: 0 auto;
		padding: 0 1rem;
  }
	.btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		min-width: 180px;
		padding: .75rem 1.5rem;
		border-radius: 30px;
		text-decoration: none;
		transition: all .3s;
	}
	.btn-primary{
		border: 1px solid transparent;
		background: var(--principal);
		color: var(--black);
	}
	.btn-primary:hover{
		border: 1px solid var(--principal);
		background: var(--secundario);
		color: var(--black);
	}
	.btn-outline{
		border: 1px solid var(--principal);
		color: var(--principal);
	}
	.btn-outline:hover{
		background: var(--secundario);
		color: var(--black);
	}
	@media screen and (max-width:1300px) {
		:root{
			--font-hero: 3rem;
			--font-seccion: 1.6rem;
		}
	}
	@media screen and (max-width:768px) {
		:root{
			--font-hero: 2rem;
			--font-seccion: 2rem;
		}
		html{
			font-size: 16px;
		}
	}
</style>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

<script src="https://unpkg.com/scrollreveal"></script>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function() {
		// Menu Mobile
		const btnMenu = document.querySelector(".btn-menu");
		const menuBody = document.querySelector('.nav-list');
	
		// Al hacer clic en el botón de menú
		btnMenu.addEventListener('click', () => {
			menuBody.classList.toggle('open');
			btnMenu.classList.toggle('open');
		});
	
		document.querySelectorAll('.nav-list .nav-item a').forEach((item) => {
			item.addEventListener('click', (event) => {
				btnMenu.classList.remove('open');
				menuBody.classList.remove('open');
			});
		});

		
		// GSAP=================================

		const desktopMediaQuery = window.matchMedia("(min-width: 768px)");

		function checkScreenSize() {
			if (!desktopMediaQuery.matches) {
					// Si la pantalla es menor a 768px, detener la ejecución
					return;
			}
    
    	/*** Sticky Cursor with Delay */
    	let cursor = document.querySelector(".cursor"),
        follower = document.querySelector(".cursor-follower");

    	let posX = 0, posY = 0;
    	let mouseX = 0, mouseY = 0;

    	gsap.to({}, {
        duration: 0.016,
        repeat: -1,
        onRepeat: function() {
            posX += (mouseX - posX) / 9;
            posY += (mouseY - posY) / 9;

            gsap.set(follower, {
                css: {
                    left: posX - 30 + 'px',
                    top: posY - 30 + 'px'
                }
            });

            TweenMax.set(cursor, {
                css: {
                    left: mouseX + 'px',
                    top: mouseY + 'px'
                }
            });
        }
    	});

    	document.querySelectorAll(".card-trabajo").forEach(function(container) {
        container.addEventListener("mousemove", function(e) {
            mouseX = e.clientX;
            mouseY = e.clientY;
        });

        // yellow circle
        container.addEventListener("mouseenter", function() {
            cursor.classList.add("active");
            follower.classList.add("active");
        });

        container.addEventListener("mouseleave", function() {
            cursor.classList.remove("active");
            follower.classList.remove("active");
        });
    	});
    	/*** Fin Sticky Cursor with Delay */
		}

		// Verifica inicialmente el tamaño de la pantalla
		checkScreenSize();

		// Escucha los cambios en el tamaño de la pantalla
		desktopMediaQuery.addEventListener("change", (event) => {
    	if (event.matches) {
        // Solo ejecuta cuando la pantalla sea mayor a 768px
        checkScreenSize();
    	}
		});

	});

</script>